<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>

  <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
  -->

</head>
<body ng-app="ionicDemo" ng-controller="indexCtrl">

  <ion-pane>
    <!-- <ion-header-bar class="bar-stable">
      <h1 class="title">Ionic Blank Starter</h1>
    </ion-header-bar> -->

    <ion-slide-box active-slide="mainPageSlider" on-slide-changed="slideHasChanged($index)" show-pager="false" overflow-scroll="true">
      <ion-slide>
        <ion-content>
          <ion-refresher pulling-text="下拉刷新" on-refresh="refreshRssList()"></ion-refresher>
          <ion-list>
            <ion-item class="item item-text-wrap" ng-repeat="item in rssList">
              <h2 class="idemo-article-title">{{item.title}}</h2>
              <br>
              <p class="idemo-article-content" compile="item.content | imgFilter"></p>
            </ion-item>
          </ion-list>

        </ion-content>

        <!-- <a ng-if="showGoTopButton && mainPageSlider==0" class="idemo-fixed-button" href="#" ng-click="goToListTop()"><i class="icon ion-chevron-up"></i></a> -->
      </ion-slide>

      <!-- <ion-slide>
        <ion-content>
          <ion-list>
            <ion-item class="item item-text-wrap" ng-repeat="item in settings.collections">
              <h2 class="idemo-article-title">{{item.title}}</h2>
              <br>
              <p class="idemo-article-content" compile="item.content | imgFilter"></p>
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-slide> -->

      <ion-slide>
        <ion-content>
          <!-- <ion-item style="background-color: #bbbbbb;">
            <h2 style="font-size: 18pt;font-weight: bold;">设置</h2>
          </ion-item> -->

          <a class="item idemo-avatar" href="#" ng-click="showChangeAvatarPopup()">
            <table>
              <tr>
                <td rowspan="2"><img ng-src="{{settings.avatarSrc}}" alt="avatar"></td>
                <td class="idemo-username">User</td>
              </tr>
              <tr>
                <td class="idemo-desc">点击切换头像</td>
              </tr>
            </table>
          </a>

          <a class="item item-icon-left" href="#" ng-click="showSwitchRssPrompt()"><i class="icon ion-social-rss"></i>切换RSS源</a>

          <ion-toggle class="item item-icon-left" ng-model="settings.isImageShow" ng-change="isImageShowChange()">
            <i class="icon ion-image"></i>显示图片
          </ion-toggle>
        </ion-content>
      </ion-slide>
    </ion-slide-box>

    <ion-bottom-bar class="idemo-bottom bar bar-stable tabs tabs-icon-top">
      <a class="tab-item idemo-selected" href="#">
        <i class="icon ion-home"></i>
        主页
      </a>

      <!-- <a class="tab-item" href="#">
        <i class="icon ion-star"></i>
        收藏
      </a> -->

      <a class="tab-item" href="#">
        <i class="icon ion-gear-a"></i>
        设置
      </a>
    </ion-bottom-bar>

  </ion-pane>

  <div class="backdrop visible active idemo-loading-cover"></div>
  <div class="loading-container visible active idemo-loading-cover">
    <div class="loading">
      <ion-spinner></ion-spinner>
    </div>
  </div>

  <!-- ionic/angularjs js -->
  <script src="lib/ionic/js/ionic.bundle.js"></script>

  <!-- cordova script (this will be a 404 during development) -->
  <script src="lib/ngCordova/dist/ng-cordova.js"></script>
  <script src="cordova.js"></script>

  <!-- your app's js -->
  <script src="lib/jquery/jquery-3.1.1.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/filter/img-filter.js"></script>
  <script src="js/controller/index-ctrl.js"></script>
</body>
</html>
